*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-size: 20px;
    color: white;
    overflow-x: hidden;
    color: white;
    font-family: 'Flamenco', cursive;
    background-image:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url("../images/result2.jpeg");
}
::-webkit-scrollbar
{
  width: 15px;
}
::-webkit-scrollbar-thumb{
  background: linear-gradient(#838586,transparent, #888a8b);
  border-radius: 50px;
}
header{
    
    height:100vh;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: -30px;
}
nav{
    background-color: transparent;
    height: 80px;
    width: 100%;
    position:fixed ;
    z-index: 1000;
  }
  label.logo{
    color: rgb(255, 255, 255);
    font-size: 40px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
  }
  nav ul{
    float: right;
    margin-right: 60px;
  }
  nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 7px;
  }
  nav ul li a{
    color: rgb(255, 255, 255);
    font-size: 17px;
    text-transform: uppercase;
  }
  a.active,a:hover{
    color: rgb(2, 182, 253);
    transition: .5s;
  }
  .checkbtn{
    font-size: 35px;
    color: rgb(252, 250, 250);
    float: right;
    line-height: 80px;
    margin-right: 80px;
    cursor: pointer;
    display: none;
  }
  #check{
    display: none;
  }
  @media screen and (max-width:858px) {
    label.logo{
        font-size: 29px;
        padding: 0 100px;
    }
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: linear-gradient( rgb(49, 49, 49) ,rgb(136, 135, 135) );
        top: 80px;
        left: -900px;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    #check:checked ~ ul{
        left: 0;
    }
  
  }
  .content{
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 999;
    text-align: center;
    padding: 60px 32px;
    margin-top: 150px;
    width: 80%;
    height: 100vh;
    transform: translate(-50%,-50%);
    background: rgba(255,255,255,0.04);
    box-shadow: -1px 4px 28px 0px rgba(0,0,0,0.75);
  }  
.search{
    margin-left:670px;
    margin-top:20px;
}
.name1{
    padding-right: 5px;
}
.standered1{
   padding-right: 15px;
}
.submit{
    width:55px;
}
.main-content-header{
    border-top: 2px solid white;
}
.table{
    float:left; 
    color: #fff; 
    margin-bottom: 20px; 
}
.table tr{
    font-size:20px;
    margin-left: 330px;
}
.image2{
    width:140px;
    height:140px;
}
.table2 th{
    border-top: 1px solid transparent;
    width: 6%;
    font-size: 19px;
   color: white;
}
h1{
    margin-left: 490px;
    color: #fff;
}
.table2{
    margin-top: 20px;
    border-top: 2px dashed red;
    border-bottom: 2px dashed red;
    
}
.colorchange{
    animation: colorchange 2s infinite;
    font-size: 24px;
    
}
.h1tag{
    color: #fff;
}
@keyframes colorchange{
    0%{color:#fff;}
    25%{color:#bf55ec;}
    75%{color:#fff;}
    100%{color:#bf55ec;}
}
.colorchange1{
    animation: colorchange1 2s infinite;
    font-size: 44px;
    
}
@keyframes colorchange1{
    0%{color:red;}
    25%{color:orange;}
    75%{color:yellow;}
    100%{color:#bf55ec;}
}
p{
    margin-top: 20px;
    
}
